/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
/* Chenage here custom  */

/* * > * {
    font-family: "Poppins", cursive;
    margin: 0;
} */

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}
.bodycolor{
    padding-top: 1rem;
    background-color: #141e30;
    min-height: 100vh;
}
.link-unstyled {
    text-decoration: none;
    color: black !important;
  }
  
#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.board {
    text-align: center;
}

.board .leaderboard{
    margin-bottom: 1em;
}


.text-dark{
    color: var(--color-dark);
}