@import 'bootstrap/dist/css/bootstrap.min.css';
body{
  display: grid;
  background: #9ba3eb;
  min-height: 100vh;
}
#main-container{
  place-items: center center;
  
}
#sign-in-form{
  max-width: 500px;
}
.loginLogo{
  width: 100%;
  height: 100%;
}
.fot{

  text-align: right;
}
/* .d-grid Button:hover {
  background: #30595b;
  color: rgb(51, 109, 125);
  border-radius: 5px;
  box-shadow: 0 0 5px #5ac7ee,
              0 0 25px #5ac7ee,
              0 0 50px #5ac7ee,
              0 0 100px #5ac7ee;

} */
