big-box{
  background: linear-gradient(#141e30, #243b55);
}
img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
  }

  .bg-black {
    background: #141e30;
  }
  
  .skill-block {
    width: 30%;
  }
  
  @media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
      padding: 32px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .skill-block {
      padding: 56px !important;
    }
  }