.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .input-width {
    width: 25%;
  }
  .button{
    border: none;
    background-color: black;
    color: white;
  }
  .form-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-container input,
  .form-container textarea,
  .form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #3e8e41;
  }
  