*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background-color: #000;
    color: #fff;
    opacity: .5;
    /* color: #fff; */
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    /* opacity: 0.85; */
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
    /* opacity: 0.65; */
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: rgb(242, 245, 247);
    opacity: 0.65;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}